In [ ]:
# 1. Ví dụ đọc ghi file csv
# 2. Đọc ghi file json
# 3. Ví dụ về dataframe (khởi tạo 1 dataframe truy xuất datafram, thống kê dataframe)
# 4. Ví dụ về groupby, merge, join, concat

In [ ]:
import pandas as pd

Đọc và ghi file csv

In [3]:
df = pd.read_csv(r"D:\Workspace\University\hoc-ky-2-nam-3\PTDL\Data\HR_comma_sep.csv")

In [4]:
df.to_csv(r"D:\Workspace\University\hoc-ky-2-nam-3\PTDL\Data\HR_comma_sep_output.csv", index=False)

Ví dụ về dataframe

In [5]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['NYC', 'LA', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

# Từ list of lists
df2 = pd.DataFrame([['Alice', 25], ['Bob', 30]], columns=['Name', 'Age'])
print(df2)

      Name  Age     City
0    Alice   25      NYC
1      Bob   30       LA
2  Charlie   35  Chicago
    Name  Age
0  Alice   25
1    Bob   30

In [6]:
# Truy xuất cột
print(df['Name'])  # Series: Alice, Bob, Charlie

# Truy xuất hàng (loc: theo label, iloc: theo index)
print(df.loc[0])  # Hàng đầu: Name Alice, Age 25, City NYC
print(df.iloc[1:3])  # Hàng 1-2

# Truy xuất cell cụ thể
print(df.at[0, 'Age'])  # 25
print(df.iat[1, 2])  # LA

# Lọc dữ liệu
print(df[df['Age'] > 25])  # Những người >25 tuổi

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
Name    Alice
Age        25
City      NYC
Name: 0, dtype: object
      Name  Age     City
1      Bob   30       LA
2  Charlie   35  Chicago
25
LA
      Name  Age     City
1      Bob   30       LA
2  Charlie   35  Chicago

In [10]:
import pandas as pd

# Tạo DataFrame mẫu
df = pd.DataFrame({
    'Department': ['HR', 'IT', 'HR', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Salary': [50000, 60000, 55000, 65000]
})

# GroupBy theo Department và tính trung bình lương
grouped = df.groupby('Department')['Salary'].mean()
print(grouped)


# Nhiều tính toán
print(df.groupby('Department').agg({'Salary': ['mean', 'sum']}))

Department
HR    52500.0
IT    62500.0
Name: Salary, dtype: float64
             Salary
               mean     sum
Department
HR          52500.0  105000
IT          62500.0  125000

In [11]:
# DataFrame 1
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})

# DataFrame 2
df2 = pd.DataFrame({'ID': [1, 2], 'Salary': [50000, 60000]})

# Merge theo cột 'ID'
merged = pd.merge(df1, df2, on='ID')
print(merged)
# Output:
#    ID   Name  Salary
# 0   1  Alice   50000
# 1   2    Bob   60000

   ID   Name  Salary
0   1  Alice   50000
1   2    Bob   60000

In [12]:
# DataFrame với index
df1 = pd.DataFrame({'Name': ['Alice', 'Bob']}, index=[1, 2])
df2 = pd.DataFrame({'Salary': [50000, 60000]}, index=[1, 2])

# Join theo index (mặc định left join)
joined = df1.join(df2)
print(joined)
# Output:
#     Name  Salary
# 1  Alice   50000
# 2    Bob   60000

    Name  Salary
1  Alice   50000
2    Bob   60000

In [13]:
# DataFrame 1
df1 = pd.DataFrame({'Name': ['Alice', 'Bob']})

# DataFrame 2
df2 = pd.DataFrame({'Name': ['Charlie', 'David']})

# Concat theo hàng (axis=0)
concatenated = pd.concat([df1, df2])
print(concatenated)
# Output:
#      Name
# 0   Alice
# 1     Bob
# 0 Charlie
# 1   David

# Concat theo cột (axis=1)
df3 = pd.DataFrame({'Age': [25, 30]})
concat_col = pd.concat([df1, df3], axis=1)
print(concat_col)
# Output:
#      Name  Age
# 0   Alice   25
# 1     Bob   30

      Name
0    Alice
1      Bob
0  Charlie
1    David
    Name  Age
0  Alice   25
1    Bob   30